<li class="transaction-item flex items-center flex-row not-mobile">
  <div class="flex items-center img-container">
    <img src="{{ transaction()?.avatar }}" alt="{{ transaction()?.name }}" />
    <p class="name">{{ transaction()?.name }}</p>
  </div>
  <span class="category">{{ transaction()?.category }}</span>
  <span class="date">{{ transaction()?.date | date }}</span>
  <span class="amount" [ngStyle]="{ color: transactionType === 'income' && 'var(--s-green)' }">
    {{ transactionType !== "income" ? "" : "+" }}{{ transaction()?.amount | currency }}
  </span>
</li>

<li class="transaction-item mobile flex items-center flex-row">
  <div class="flex items-center img-container">
    <img src="{{ transaction()?.avatar }}" alt="{{ transaction()?.name }}" />
  </div>
  <div class="flex flex-col">
    <h4 class="name">{{ transaction()?.name }}</h4>
    <p class="category">{{ transaction()?.category }}</p>
  </div>
  <div class="flex flex-col">
    <span class="amount" [ngStyle]="{ color: transactionType === 'income' && 'var(--s-green)' }">
      {{ transactionType !== "income" ? "" : "+" }}

      {{ transaction()?.amount | currency }}
    </span>
    <span class="date">{{ transaction()?.date | date }}</span>
  </div>
</li>
