<div class="backdrop" (click)="closeModal()"></div>
<div class="add-money-modal-container">
  <header class="flex items-center justify-between">
    <h2>Add to '{{ pot.name }}'</h2>
    <img
      src="/assets/images/icon-close-modal.svg"
      alt="close-modal"
      class="cursor-pointer"
      (click)="closeModal()"
    />
  </header>
  <p class="form-paragraph">
    Add funds to your
    <strong>{{ pot.name.toLowerCase() }}</strong>
    pot to reach your goals faster. Every contribution brings you closer to your target.
  </p>

  <p class="flex items-center justify-between new-amount-text">
    <span>New Amount</span>
    <span class="bold total">{{ totalAmount | currency }}</span>
  </p>

  <div class="progress">
    <div class="progress-bar-container">
      <!-- Current progress in black -->
      <div class="progress-bar-fill current-progress" [style.width.%]="currentProgress"></div>
      <!-- New added progress in theme color -->
      <div
        class="progress-bar-fill added-progress"
        [style.width.%]="addedProgress"
        [style.left.%]="currentProgress"
        [style.background-color]="pot.theme"
      ></div>
    </div>
  </div>
  <p class="flex items-center justify-between">
    <span class="bold total-two">{{ (+currentProgress + +addedProgress).toFixed(2) }}%</span>
    <span class="target">Target of ${{ pot.target }}</span>
  </p>

  <form [formGroup]="addMoneyForm" (ngSubmit)="onAddMoney()">
    <div class="field amount-to-add">
      <label for="amount">Amount to Add</label>
      <br />
      <div class="input-wrapper">
        <span class="dollar-sign">$</span>
        <input
          type="text"
          id="amount-to-add"
          placeholder="e.g. 50"
          name="amount"
          required
          formControlName="amount"
          (input)="onAmountInput($event)"
        />
      </div>
      @if (amount.invalid && (amount.dirty || amount.touched)) {
        <div class="error">
          @if (amount.hasError("required")) {
            <p>Must enter an amount.</p>
          }
          @if (amount.hasError("pattern")) {
            <p>Must be a number.</p>
          }
          @if (amount.hasError("maxAmount")) {
            Please enter a valid amount between
            <strong>$1</strong>
            and
            <strong>{{ pot.target - pot.total | currency }}</strong>
          }
        </div>
      }
    </div>
    <button type="submit">Confirm Addition</button>
  </form>
</div>
