<div class="wrapper">
  <section class="title-bar">
    <h2 class="title-text bold">Transactions</h2>
  </section>

  <div class="transactions-wrapper">
    <div class="toolbar">
      <app-transactions-toolbar></app-transactions-toolbar>
    </div>
    <div class="table-header flex flex-row items-center">
      <p>Recipient / Sender</p>
      <p>Category</p>
      <p>Transaction Date</p>
      <p>Amount</p>
    </div>
    <ul>
      @if (!loading) {
        @for (transaction of displayedTransactions; track transaction) {
          @if ($first) {
            <mat-divider></mat-divider>
          }
          <app-transaction-list-item [transaction]="transaction"></app-transaction-list-item>

          @if (!$last) {
            <mat-divider></mat-divider>
          }
        }
      } @else {
        <app-css-spinner></app-css-spinner>
        <!-- <div class="spinner-div flex items-center">
        </div> -->
      }
    </ul>
  </div>
  <app-paginator></app-paginator>
</div>
