<div class="wrapper">
  <section class="title-bar">
    <h2 class="title-text bold">Transactions</h2>
  </section>

  <div class="transactions-wrapper">
    <div class="toolbar">
      <app-transactions-toolbar></app-transactions-toolbar>
    </div>
    <div class="table-header flex flex-row items-center">
      <p>Recipient / Sender</p>
      <p>Category</p>
      <p>Transaction Date</p>
      <p>Amount</p>
    </div>
    <ul>
      @if (!displayedTransactions.length) {
        <h3>No Transaction found</h3>
      }
      @if (loadingTransactions) {
        <app-css-spinner></app-css-spinner>
      } @else {
        @for (
          transaction of displayedTransactions;
          track transaction.name +
            transaction.amount +
            transaction.date +
            transaction.recurring +
            transaction.category
        ) {
          @if ($first) {
            <mat-divider></mat-divider>
          }
          <app-transaction-list-item [transaction]="transaction"></app-transaction-list-item>

          @if (!$last) {
            <mat-divider></mat-divider>
          }
        }
      }
    </ul>
  </div>
  <app-paginator></app-paginator>
</div>
