.transactions-wrapper {
    background-color: var(--o-white);
    padding: 1.5em;
    border-radius: 1em;
}

.table-header {
    padding: 2em 0;
}

.table-header p {
    font-size: .8em;
    color: var(--p-beige-500);
}

.table-header p:first-child {
    flex-basis: 49%;
}

.table-header p:nth-child(2) {
    flex-basis: 15%;
}

.table-header p:nth-child(3) {
    flex-basis: 26%;
}

.table-header p:last-child {
    flex-basis: 10%;
    text-align: right;
}

mat-divider {
    border-top-color: var(--p-grey-100);
    /* margin: 0 .4em; */
}


@media screen and (max-width:900px) {
    .transactions-wrapper {
        padding-inline: 1em;
        padding-top: 1em;
    }

    .table-header {
        display: none;
    }

    .toolbar {
        margin-bottom: 1.8em;
    }

}
