<div class="toolbar-box items-center">
  <div class="search-filter">
    <input type="search" name="search-input" id="search-input" placeholder="Search transactions" />
    <mat-icon matSuffix>search</mat-icon>
  </div>
  <div class="select-filters desktop-only flex flex-row items-center">
    <div class="sort-by flex items-center">
      <span>Sort by</span>
      <div>
        <mat-form-field>
          <mat-select [(value)]="sortOptionSelected">
            @for (option of sortByOptions; track option) {
              <mat-option [value]="option">{{ option }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="category flex items-center">
      <span>Category</span>
      <div>
        <mat-form-field>
          <mat-select [(value)]="categorySelected">
            @for (category of categoryOptions; track category) {
              <mat-option [value]="category">{{ category }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <!-- Mobile Icons and Dropdown -->
  <div class="mobile-only">
    <span #sortIcon (click)="toggleDropdown('sort')">
      <img src="/assets/images/icon-sort-mobile.svg" alt="sort icon" />
    </span>
    <span #categoryIcon (click)="toggleDropdown('category')">
      <img src="/assets/images/icon-filter-mobile.svg" alt="filter icon" />
    </span>

    <!-- Mobile Dropdown -->
    @if (isSortOpen || isCategoryOpen) {
      <ul class="mobile-drop-down" [ngStyle]="dropdownStyle">
        @for (option of isSortOpen ? sortByOptions : categoryOptions; track option) {
          <li
            (click)="handleSelection(option)"
            [class.selected]="
              (isSortOpen && option === sortOptionSelected) ||
              (!isSortOpen && option === categorySelected)
            "
          >
            {{ option }}
          </li>
        }
      </ul>
    }
  </div>
</div>
