.box {
    display: grid;
    grid-template-columns: 2fr .5fr;
}

.select-filters {
    gap: 1.5em;
}

.sort-by,
.category {
    gap: 1em;
}

.search-filter {
    position: relative;
    min-width: 20em;
}

.search-filter input {
    width: 100%;
    box-sizing: border-box;
    padding: 1em;
    border: var(--border);
    border-radius: .5em;
}

.search-filter input:focus {
    border: 2px solid var(--green);
    outline: none;
}

.search-filter mat-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #757575;
}
