<div class="signup-container">
  <!-- Logo Section -->
  <div class="logo-container">
    <img src="/assets/images/logo-large.svg" alt="finance app logo" class="logo-image" />
  </div>

  <!-- Content Section -->
  <div class="content-container">
    <div class="background-image-wrapper">
      <img
        src="/person-office-analyzing-checking-finance-graphs.jpg"
        alt="Background"
        class="background-image"
      />
    </div>
    <mat-stepper #stepper class="stepper-container" [orientation]="stepperOrientation">
      <!-- Step 1: User Details -->
      <mat-step [stepControl]="userDetailsFormGroup" label="User Details">
        <p class="signup-text">Signup for your finance account!</p>
        <form [formGroup]="userDetailsFormGroup">
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input
              matInput
              formControlName="email"
              type="email"
              required
              placeholder="Ex. pat@example.com"
            />
            @if (
              userDetailsFormGroup.controls["email"].hasError("email") &&
              !userDetailsFormGroup.controls["email"].hasError("required")
            ) {
              <mat-error>Please enter a valid email address</mat-error>
            }
            @if (userDetailsFormGroup.controls["email"].hasError("required")) {
              <mat-error>
                Email is
                <strong>required</strong>
              </mat-error>
            }
          </mat-form-field>
          &nbsp;
          <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" required />
            @if (
              userDetailsFormGroup.controls["username"].hasError("minlength") &&
              !userDetailsFormGroup.controls["username"].hasError("required")
            ) {
              <mat-error>Username must be at least 3 characters long</mat-error>
            }
            @if (userDetailsFormGroup.controls["username"].hasError("required")) {
              <mat-error>
                Username is
                <strong>required</strong>
              </mat-error>
            }
          </mat-form-field>
          <br />
          <br />
          <div>
            <button mat-flat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <!-- Step 2: Password -->
      <mat-step [stepControl]="passwordFormGroup" label="Set Password">
        <form [formGroup]="passwordFormGroup">
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input
              matInput
              [type]="hide() ? 'password' : 'text'"
              formControlName="password"
              required
            />
            @if (
              passwordFormGroup.controls["password"].hasError("minlength") &&
              !passwordFormGroup.controls["password"].hasError("required")
            ) {
              <mat-error>password must be at least 6 characters long</mat-error>
            }
            @if (passwordFormGroup.controls["password"].hasError("required")) {
              <mat-error>
                Password is
                <strong>required</strong>
              </mat-error>
            }
            <button
              mat-icon-button
              matSuffix
              (click)="toggleVisibility($event)"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide()"
            >
              <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
          &nbsp;
          <mat-form-field appearance="fill">
            <mat-label>Confirm Password</mat-label>
            <input
              matInput
              [type]="hide() ? 'password' : 'text'"
              formControlName="confirmPassword"
              required
            />
            @if (passwordFormGroup.controls["confirmPassword"].hasError("required")) {
              <mat-error>
                Password confirmation is
                <strong>required</strong>
              </mat-error>
            }
            <button
              mat-icon-button
              matSuffix
              (click)="toggleVisibility($event)"
              [attr.aria-pressed]="hide()"
              [attr.aria-label]="'Toggle confirm password visibility'"
            >
              <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
          <!-- Form Group Error (Passwords Mismatch) -->
          @if (
            passwordFormGroup.hasError("passwordsMismatch") &&
            !passwordFormGroup.controls["confirmPassword"].hasError("required")
          ) {
            <mat-error class="mat-body-small">
              Must be the same as the password you entered
            </mat-error>
          }
          <br />
          <br />
          <div class="button-group">
            <button mat-button matStepperPrevious>Back</button>
            <button mat-flat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <!-- Step 3: Confirmation -->
      <mat-step label="Confirmation">
        @if (!userDetailsFormGroup.valid || !passwordFormGroup.valid) {
          <p class="signup-text">Make sure you have filled the previous steps correctly!</p>
        } @else {
          <p class="signup-text">Click the button to create your account!</p>
        }
        <div class="button-group">
          <button mat-button matStepperPrevious>Back</button>

          @if (!isSigningUp) {
            <button
              mat-flat-button
              color="primary"
              (click)="onSignup()"
              [disabled]="!userDetailsFormGroup.valid || !passwordFormGroup.valid"
            >
              Signup
            </button>
          } @else {
            <button fab style="background: transparent; border: none">
              <mat-spinner diameter="30"></mat-spinner>
            </button>
          }
          <br />
          <br />
        </div>
      </mat-step>
    </mat-stepper>

    <div class="login-container">
      <p>
        Already have an account?
        <a routerLink="/login" class="login-link">Login</a>
      </p>
    </div>
  </div>
</div>
