<div class="wrapper">
  <section class="title-bar">
    <h2 class="title-text">Overview</h2>
  </section>

  <div class="grid-1">
    <div class="grid-1-item">
      <span>Current Balance</span>
      <span>$4,836.00</span>
    </div>
    <div class="grid-1-item">
      <span>Income</span>
      <span>$3,814.25</span>
    </div>
    <div class="grid-1-item">
      <span>Expenses</span>
      <span>$1,700.50</span>
    </div>
  </div>
  <div class="grid-2">
    <div class="grid-2-item pots">
      <section class="top">
        <h3>Pots</h3>
        <span class="action">
          <span>See Details</span>
          <img src="/assets/images/icon-caret-right.svg" alt="icon-caret-right" />
        </span>
      </section>
      <div class="pots-content">
        <div>
          <img src="/assets/images/icon-pot.svg" alt="pot icon" />
          <section>
            <h6>Total Saved</h6>
            <p>$850</p>
          </section>
        </div>
        <div>
          <p class="mini-pot">
            <span>Savings</span>
            <span>$159</span>
          </p>
          <p class="mini-pot">
            <span>Gifts</span>
            <span>$140</span>
          </p>

          <p class="mini-pot">
            <span>Concert Tickets</span>
            <span>$159</span>
          </p>
          <p class="mini-pot">
            <span>New Laptop</span>
            <span>$10</span>
          </p>
        </div>
      </div>
    </div>
    <div class="grid-2-item budgets">
      <section class="top">
        <h3>Budgets</h3>
        <span class="action">
          <span>See Details</span>
          <img src="/assets/images/icon-caret-right.svg" alt="icon-caret-right" />
        </span>
      </section>
    </div>
    <div class="grid-2-item transactions">
      <section class="top">
        <h3>Transactions</h3>
        <span class="action">
          <span>View All</span>
          <img src="/assets/images/icon-caret-right.svg" alt="icon-caret-right" />
        </span>
      </section>
      <div class="transactions-content">
        @for (transaction of displayedTransactions; track transaction.counterpartyName) {
          <app-overview-transaction-list-item
            [transaction]="transaction"
          ></app-overview-transaction-list-item>
          @if (!$last) {
            <mat-divider></mat-divider>
          }
        }
      </div>
    </div>
    <div class="grid-2-item recurring-bills">
      <section class="top">
        <h3>Recurring Bills</h3>
        <span class="action">
          <span>See Details</span>
          <img src="/assets/images/icon-caret-right.svg" alt="icon-caret-right" />
        </span>
      </section>
    </div>
  </div>
</div>
