.wrapper {
    padding: 0 1.7em;
    background-color: var(--p-beige-100);
    height: 100vh;
    overflow: scroll;
    color: var(--p-grey-900);

}

.title-text {
    font-weight: bold;
    font-size: 2.2em;
}

.grid-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
}

@media(max-width:600px) {
    .grid-1 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

.grid-1-item {
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: var(--o-white);
    border-radius: .6em;
    padding: 1.7em 1.2em;
}

.grid-1-item:first-child {
    background-color: var(--p-grey-900);
    color: var(--o-white);
}
