.transaction-item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    max-height: 6em;
    padding: .5em;
    align-items: center;
    gap: 2em
}

.transaction-item img {
    border-radius: 50%;
    display: block;
    width: 40px;
    height: 40px;
}

.transaction-item div:last-child {
    display: flex;
    flex-direction: column;
    gap: .5em;
    align-items: end;
}

.date {
    font-size: .8em;
    color: var(--p-grey-500);
}

.amount {
    font-weight: bold;
}

@media (max-width:600px) {
    h4 {
        font-size: .9em;
    }
}
