mat-grid-list {
    background-color: var(--grey-900);
    height: 100dvh;
    overflow: hidden;
}

.background-image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.background-image {
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.1;
    object-fit: cover;
}

mat-stepper {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding-top: 3.5em;
    padding-inline: 2em;
}

.mat-stepper-horizontal {
    background-color: transparent;
    backdrop-filter: blur(5px);
}

mat-grid-tile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.stepper-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-group {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.login-text {
    color: var(--cyan);
    font-weight: bold;
}

::ng-deep .mat-mdc-form-field-error-wrapper {
    padding: 0 !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: var(--grey-900) !important;
}
