<mat-grid-list cols="3" rowHeight="fit">
  <mat-grid-tile colspan="1">
    <img src="/assets/images/logo-large.svg" alt="finance app logo" />
  </mat-grid-tile>
  <mat-grid-tile colspan="2">
    <mat-stepper #stepper class="stepper-container">
      <mat-step label="Username">
        <p class="login-text">Welcome, login to Your Account...</p>
        <form [formGroup]="usernameFormGroup">
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" required />
          </mat-form-field>
          <div>
            <button mat-flat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step
        [stepControl]="passwordFormGroup"
        errorMessage="Password is required."
        label="Fill out your password"
      >
        <br />
        <form [formGroup]="passwordFormGroup">
          <mat-form-field>
            <mat-label>Password</mat-label>
            <input
              matInput
              formControlName="password"
              [type]="hide() ? 'password' : 'text'"
              required
            />
            <button
              mat-icon-button
              matSuffix
              (click)="clickEvent($event)"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide()"
            >
              <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
            </button>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-flat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <mat-step label="Done">
        <p class="login-text">Click the login button!</p>
        <div class="button-group">
          <button mat-button matStepperPrevious>Back</button>
          @if (!isLoggingIn) {
            <button mat-flat-button (click)="onLogin()">Login</button>
          } @else if (isLoggingIn) {
            <button fab style="background: transparent; border: none">
              <mat-spinner diameter="30"></mat-spinner>
            </button>
          }
        </div>
      </mat-step>
    </mat-stepper>
  </mat-grid-tile>
</mat-grid-list>
