mat-nav-list {
    grid-row: 2/3;
    padding-right: 1.5em;
    grid-gap: .5em;
    display: flex;
    flex-direction: column;
}

::ng-deep .mat-mdc-nav-list .mat-mdc-list-item {
    border-radius: 0px 10px 10px 0px !important;
    height: 100%;
}

.mat-list-item-div {
    display: flex;
    align-items: center;
    gap: 1em;
}

.nav-text {
    display: none;
    color: var(--grey-300);
}

.nav-text.show {
    display: block;
}

.active {
    background-color: var(--o-white);
    border-left: 3px solid var(--green);
}

.active span {
    color: var(--grey-900);
}

span {
    font-weight: bold;
}

@media ((min-width: 601px) and (max-width: 1024px)) {
    ::ng-deep .mat-mdc-nav-list .mat-mdc-list-item {
        padding: 2em 0;
    }
}

@media (max-width: 1024px) {
    .nav-text {
        display: block;
    }

    mat-nav-list {
        flex-direction: row;
        padding: 0;
        padding-top: .5em;
    }

    ::ng-deep .mat-mdc-nav-list .mat-mdc-list-item {
        border-radius: 10px 10px 0px 0px !important;
    }

    .active {
        border-left: none;
        border-bottom: 3px solid var(--green);
    }

    .mat-list-item-div {
        flex-direction: column;
        justify-content: center;
        padding: .5em 0;
        gap: .5em;
    }



}

@media (max-width: 600px) {
    .nav-text {
        display: none;
    }

    mat-nav-list {
        grid-gap: .5em;
    }

}
