<div class="layout-container" [class.example-is-mobile]="mobileQuery.matches">
  <!-- Desktop sidenav -->
  @if (!tabletQuery.matches && !mobileQuery.matches) {
    <mat-sidenav-container class="layout-sidenav-container">
      <mat-sidenav
        #snav
        [(opened)]="isSidenavOpen"
        [mode]="mobileQuery.matches ? 'over' : 'side'"
        [fixedInViewport]="mobileQuery.matches"
        class="sidenav"
        [class.collapsed]="!isSidenavOpen"
      >
        <div class="sidenav-grid">
          <div class="img">
            <img
              src="/assets/images/logo-{{ isSidenavOpen ? 'large' : 'small' }}.svg"
              alt="finance logo"
            />
          </div>

          <app-nav-list [isSidenavOpen]="isSidenavOpen"></app-nav-list>
          <div class="minimize-container" (click)="toggleSidenav()">
            <img
              src="/assets/images/icon-minimize-menu.svg"
              alt="minimize menu"
              class="arrow"
              [class.rotated]="isRotated"
            />
            @if (isSidenavOpen) {
              <span>Minimize Menu</span>
            }
          </div>
        </div>
      </mat-sidenav>

      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  } @else {
    <!-- Mobile Drawer -->
    <mat-drawer #drawer mode="push" position="end" class="bottom-sheet" opened="true">
      <app-nav-list [isSidenavOpen]="isSidenavOpen"></app-nav-list>
    </mat-drawer>
  }
</div>
