.layout-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

mat-sidenav-container {
    background-color: whitesmoke;
}

mat-sidenav {
    width: 19em;
    height: 100dvh;
    background-color: var(--grey-900);
}

::ng-deep mat-sidenav.collapsed {
    width: 5em !important;
    transform: none !important;
    visibility: visible !important;
}

::ng-deep .mat-drawer[style*="visibility: hidden"] {
    display: block !important;
}

.layout-sidenav-container {
    flex: 1;
}

.arrow {
    transition: transform 0.3s ease;
}

.rotated {
    transform: rotate(180deg);
}

.sidenav-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100%;
}

.sidenav-grid>.img {
    grid-row: 1/2;
    padding-top: 3em;
    padding-bottom: 3em;
    display: flex;
    padding-left: 1.4em;
}

.sidenav-grid>.minimize-container {
    grid-row: 3/4;
    padding-bottom: 2em;
    padding-left: 1.4em;
    display: flex;
    gap: 1em;
    align-items: center;
    cursor: pointer;
}

mat-drawer {
    background-color: var(--grey-900);
}

.bottom-sheet {
    height: auto;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding-inline: 1em;
    border-radius: 16px 16px 0 0;
}


span {
    font-weight: bold;
}

mat-sidenav-content {
    overflow: auto;
    /* I'll check later */
    padding-bottom: 12em;
}
