html,
body {
    height: 100%;
}

body,
* {
    font-family: var(--font-family-sans);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Primary Palette (Neutral tones) */
    --p-beige-500: #98908B;
    --p-beige-100: #F8F4F0;

    --p-grey-900: #201F24;
    --p-grey-500: #696868;
    --p-grey-300: #B3B3B3;
    --p-grey-100: #F2F2F2;

    /* Secondary Palette (Brand/Accent colors) */
    --s-green: #277C78;
    --s-yellow: #F2CDAC;
    --s-cyan: #82C9D7;
    --s-navy: #626070;
    --s-red: #C94736;
    --s-purple: #826CB0;

    /* Other/Utility Palette (Theme or Special-use Colors) */
    --o-purple: #AF81BA;
    --o-turquoise: #597C7C;
    --o-brown: #93674F;
    --o-magenta: #934F6F;
    --o-blue: #3F82B2;
    --o-navy-grey: #97A0AC;
    --o-army-green: #7F9161;
    --o-gold: #CAB361;
    --o-orange: #BE6C49;
    --o-white: #ffff;
    /* Neutrals */
    --grey-900: #201F24;
    --grey-500: #696868;
    --grey-300: #B3B3B3;
    --grey-100: #F2F2F2;

    /* Background or inputs */
    --beige-500: '#98908B';
    --beige-100: '#F8F4F0',

        --blue: #3f82b2;
    --navy: #2c3e50;
    --navy-grey: #97a0ac;

    --orange: #f5a623;
    --gold: #cab361;

    --green: #277C78;
    --red: #e74c3c;
    --yellow: #f2cdac;
    --cyan: #82c9d7;

    --font-family-sans: 'Public Sans', sans-serif;
    --font-size-preset-1: 2rem;
    --font-size-preset-2: 1.25rem;
    --font-size-preset-3: 1rem;
    --font-size-preset-4: 0.875rem;
    --font-size-preset-5: 0.75rem;

    --line-height-120: 120%;
    --line-height-150: 150%;
    --letter-spacing-0: 0px;

    --font-weight-bold: 700;
    --font-weight-regular: 400;

    --spacing-500: 40px;
    --spacing-400: 32px;
    --spacing-300: 24px;
    --spacing-250: 20px;
    --spacing-200: 16px;
    --spacing-150: 12px;
    --spacing-100: 8px;
    --spacing-50: 4px;

    --box-shadow-custom: 0px 4px 12px rgba(0, 0, 0, 0.1);

    /* used this border  */
    --tw-border-opacity: 1;
    --border: 1px solid rgb(152 144 139 / var(--tw-border-opacity))
}

/* UTILITY CLASSES */
/* Spacing (Margin & Padding) */
.m-0 {
    margin: 0px;
}

.m-1 {
    margin: 0.25rem;
}

.m-2 {
    margin: 0.5rem;
}

.m-3 {
    margin: 0.75rem;
}

.m-4 {
    margin: 1rem;
}

.m-5 {
    margin: 1.25rem;
}

.mt-1 {
    margin-top: 0.25rem;
}

.mb-1 {
    margin-bottom: 0.25rem;
}

.ml-1 {
    margin-left: 0.25rem;
}

.mr-1 {
    margin-right: 0.25rem;
}

.p-0 {
    padding: 0px;
}

.p-1 {
    padding: 0.25rem;
}

.p-2 {
    padding: 0.5rem;
}

.p-3 {
    padding: 0.75rem;
}

.p-4 {
    padding: 1rem;
}

.pt-1 {
    padding-top: 0.25rem;
}

.pb-1 {
    padding-bottom: 0.25rem;
}

/* Display & Flexbox */
.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

.flex {
    display: flex;
}

.hidden {
    display: none;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

/* Sizing (Width & Height) */
.w-0 {
    width: 0px;
}

.w-full {
    width: 100%;
}

.h-screen {
    height: 100vh;
}

/* Text & Fonts */
.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.text-xs {
    font-size: 0.75rem;
}

.text-sm {
    font-size: 0.875rem;
}

.text-center {
    text-align: center;
}

/* Positioning */
.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.top-0 {
    top: 0px;
}

.left-0 {
    left: 0px;
}

/* Opacity & Shadows */
.opacity-50 {
    opacity: 0.5;
}

.shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Cursor */
.cursor-pointer {
    cursor: pointer;
}

/* Routes pages wrapper */
.wrapper {
    padding: 2em;
    background-color: var(--p-beige-100);
    height: 100vh;
    overflow: scroll;
    color: var(--p-grey-900);
    display: flex;
    gap: 1.5em;
    flex-direction: column;
}

.title-text {
    font-size: 2.2em;
}

.mat-bottom-sheet-container {
    background: var(--p-grey-900) !important;
}


@media(max-width:600px) {
    .wrapper {
        padding: 1em .5em 0 .5em;
    }
}

@media(max-width:1024px) {
    .wrapper {
        padding: 1em 1em 6em 1em;
    }
}
