html,
body {
    height: 100%;
    margin: 0;
}

body,
* {
    font-family: var(--font-family-sans);
}

:root {
    /* Primary Palette (Neutral tones) */
    --p-beige-500: #98908B;
    --p-beige-100: #F8F4F0;

    --p-grey-900: #201F24;
    --p-grey-500: #696868;
    --p-grey-300: #B3B3B3;
    --p-grey-100: #F2F2F2;

    /* Secondary Palette (Brand/Accent colors) */
    --s-green: #277C78;
    --s-yellow: #F2CDAC;
    --s-cyan: #82C9D7;
    --s-navy: #626070;
    --s-red: #C94736;
    --s-purple: #826CB0;

    /* Other/Utility Palette (Theme or Special-use Colors) */
    --o-purple: #AF81BA;
    --o-turquoise: #597C7C;
    --o-brown: #93674F;
    --o-magenta: #934F6F;
    --o-blue: #3F82B2;
    --o-navy-grey: #97A0AC;
    --o-army-green: #7F9161;
    --o-gold: #CAB361;
    --o-orange: #BE6C49;
    --o-white: #ffff;
    /* Neutrals */
    --grey-900: #201F24;
    --grey-500: #696868;
    --grey-300: #B3B3B3;
    --grey-100: #F2F2F2;

    /* Background or inputs */
    --beige-500: '#98908B';
    --beige-100: '#F8F4F0',

        --blue: #3f82b2;
    --navy: #2c3e50;
    --navy-grey: #97a0ac;

    --orange: #f5a623;
    --gold: #cab361;

    --green: #277C78;
    --red: #e74c3c;
    --yellow: #f2cdac;
    --cyan: #82c9d7;

    --font-family-sans: 'Public Sans', sans-serif;
    --font-size-preset-1: 2rem;
    --font-size-preset-2: 1.25rem;
    --font-size-preset-3: 1rem;
    --font-size-preset-4: 0.875rem;
    --font-size-preset-5: 0.75rem;

    --line-height-120: 120%;
    --line-height-150: 150%;
    --letter-spacing-0: 0px;

    --font-weight-bold: 700;
    --font-weight-regular: 400;

    --spacing-500: 40px;
    --spacing-400: 32px;
    --spacing-300: 24px;
    --spacing-250: 20px;
    --spacing-200: 16px;
    --spacing-150: 12px;
    --spacing-100: 8px;
    --spacing-50: 4px;

    --box-shadow-custom: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
