.add-pot-modal-container {
    padding: 2.5em 2em;
    background-color: var(--o-white);
    z-index: 1001;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.add-pot-modal-container .form-paragraph {
    margin: 1.5em 0;
    font-size: .9em;
    color: var(--p-grey-500)
}

.add-pot-modal-container .error {
    text-align: right;
    font-size: .8em;
    color: var(--p-grey-300);
}

.add-pot-modal-container label {
    font-size: .8em;
    font-weight: bold;
    color: var(--p-grey-500);
}

.add-pot-modal-container input {
    width: 100%;
    margin: .5em 0 1em 0;
    padding: 1em 1.5em;
    border-radius: .5em;
    outline: 1px solid rgba(0, 0, 0, 0.843);
    border: none
}

.add-pot-modal-container mat-select {
    padding-top: .5em;
}

.add-pot-modal-container .mat-mdc-select {
    color: var(--p-grey-900);
    border: 1px solid rgba(0, 0, 0, 0.843);
    border-radius: .5em;
    padding: .5em 1.5em;
    margin: .5em 0 1em 0;
}

.add-pot-modal-container button {
    background-color: var(--p-grey-900);
    width: 100%;
    margin-top: .5em;
    outline: none;
    border: none;
    color: var(--o-white);
    font-weight: bold;
    text-align: center;
    padding: 1.2em 0;
    border-radius: .5em;
    cursor: pointer;
}


.add-pot-modal-container .ball {
    width: 1em;
    aspect-ratio: 1;
    border-radius: 50%;
}

.add-pot-modal-container mat-select-trigger h3 {
    font-size: .9em !important;
    font-weight: normal;
    color: var(--p-grey-500);
}

.add-pot-modal-container .mat-mdc-select-arrow svg {
    fill: var(--p-grey-900);
}

div.mat-mdc-select-panel {
    background-color: var(--o-white) !important;
    box-shadow: 0px 4px 15px var(--p-grey-900) !important;
    padding-inline: 1em !important;

}

mat-option h3 {
    color: var(--p-grey-500) !important;
    font-weight: normal !important;
    font-size: .9em !important;
}

mat-option {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25) !important;
}

.mat-mdc-option {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple) {
    background-color: transparent !important;

}

.field.target {
    position: relative;
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.dollar-sign {
    position: absolute;
    top: 33%;
    left: 10px;
    font-size: 1em;
    color: #333;
}

#target {
    padding-left: 2em;
}
